@use '../../styles.scss' as *;

#usermanager {
    margin-top: 2rem;

    .list-group{
        a {
            cursor: pointer;
        }
    }

    .form-container {

        h5 {
            display: inline-block;
            margin-right: 1rem;
        }

        .inner-forms {
            padding-left: 10px;
            width: 200%;

            .wrapper {
                -webkit-transition: all .65s ease;
                transition: all .65s ease;

                &.next-page {
                    transform: translateX(-50%);
                }

                .forms {
                    padding: 15px;
                    width: 50%;
                }

                table {
                    tbody {
                        tr {
                            &:hover {
                                .nav-container {
                                    opacity: 1;
                                }
                            }

                            .status {
                                display: block;
                                font-size: 1em;
                                font-weight: 400;
                                min-width: fit-content;
                                text-align: center;
                                width: 50%;
                            }

                            .nav-container {
                                font-size: 1.1em;
                                padding-top: 5px;
                                opacity: 0;
                                -webkit-transition: all .2s ease-in-out;
                                transition: all .2s ease-in-out;

                                a {
                                    text-decoration: none;
                                    cursor: pointer;
                                }
                                
                                .red {
                                    color: $color-danger;
                                }
                            }
                        }
                    }
                }

                .bootstrap-switch-wrapper {
                    margin-top: -2px;
                }
            }
        }
    }

    .list-group-divider {
        display: none;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .tab-content {
        .jumbotron {
            overflow-x: hidden;
            padding: 1rem;
            background-color: #ffffff;
        }
    }
}

@media screen and (max-width: $bootstrap-breakpoint-md) {
    #usermanager {
        .list-group-divider {
            display: block;
        }

        .form-container {
            table {
                tbody {
                    tr {
                        .nav-container {
                            opacity: 1 !important;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $bootstrap-breakpoint-md) {
    #usermanager {
        .form-container {
            padding-left: 0;
        }
    }
}

.custom-dialog {
    .mat-mdc-dialog-surface {
        border-radius: 10px;
        padding: 1rem;
    }

    mat-button-toggle-group {
        display: flex;
        justify-content: flex-start;
    }

    mat-button-toggle {
        min-width: 100px;
        text-transform: capitalize;
    }

    .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
        color: white;
    }
}

.max-w-max {
    max-width: max-content;
}

.table-search {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
    
    .search-box {
        border-radius: 7px;
        padding: 5px 10px;
        border: 1px solid #ccc !important;
        border-radius: 6px;
        outline: none !important;
        transition: border-color 0.2s, box-shadow 0.2s;
    }

    .search-box:focus {
        border-color: $primary-color !important;
        box-shadow: 0 0 5px rgba(63, 81, 181, 0.4);
    }
}
