
//Colors
$primary-color: #2b6777; //2b6777
$secondary-color: #52ab98;
$tertiary-color: #c8d8e4;
$color-default: #bdbdbdaf;
$light-color: #ffffff;
$semi-dark-color: #f2f2f2;
$dark-color: #344038;
$color-danger: #dd4545;
$color-warning: #eb7f22;
$color-success: #2e9c0e;
$color-info: #2196f3;
$hover-danger: #c73535;

$sidebar-bg-color: $primary-color;
$main-content-bg-color: $light-color;

//Sizes
$bootstrap-breakpoint-sm: 576px;
$bootstrap-breakpoint-md: 768px;
$bootstrap-breakpoint-lg: 992px;
$bootstrap-breakpoint-xl: 1200px;

$header-height: 56px;
$sidebar-width-open: 320px;
$sidebar-width-collapsed: 56px;

$footer-height: 40px;