
//Colors
$primary-color: #2b6777; 
$secondary-color: #52ab98;
$tertiary-color: #c8d8e4;
$main-dark-color: #1a3e47;
$color-default: #00000063;
$light-color: #ffffff;
$semi-dark-color: #f2f2f2;
$dark-color: #344038;
$color-danger: #d94f4f;
$color-warning: #e07b39;
$color-success: #3e9e54;
$color-info: #4fa3c7;
$color-info-dark: #1c72b8;
$hover-danger: #d94f4f;
$default-color-dark: #1d2836;

$sidebar-bg-color: $primary-color;
$main-content-bg-color: #fafafa;

//Sizes
$bootstrap-breakpoint-sm: 576px;
$bootstrap-breakpoint-md: 768px;
$bootstrap-breakpoint-lg: 1000px;
$bootstrap-breakpoint-xl: 1200px;
$bootstrap-breakpoint-xxl: 1400px;

$header-height: 56px;
$sidebar-width-open: 320px;
$sidebar-width-collapsed: 56px;

$footer-height: 40px;