<div class="inner-forms">
    <div class="wrapper row">
        <section class="forms">
            <div class="table-search">
                <input type="text" class="search-box" placeholder="Search.." [(ngModel)]="searchBar" (input)="applyFilter()" />
            </div>
            <table class="table table-hover table-container" [cellSpacing]="0">
                <thead>
                    <tr>
                        <th>Budget Category</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="table-wrapper">
                    <tr *ngFor="let bc of filteredData">
                        <td>
                            <span>{{ bc.budgetCategoryName }}</span><br/>
                            <div class="nav-container">
                                <a class="active" (click)="openModifyBudgetCategoryDialog(bc)"><i aria-hidden="true" class="fa fa-pencil"></i> Edit</a>
                            </div>
                        </td>
                        <td>{{ bc.budgetCategoryDescription }}</td>
                        <td>
                            <div class="status badge badge-pill" [ngClass]="bc.isActive ? 'badge-success' : 'badge-danger'">{{ bc.isActive ? 'Active' : 'Inactive' }}</div>
                        </td>
                    </tr>
                    <tr *ngIf="filteredData.length === 0">
                        <td colspan="4" class="text-center text-muted">No budget category found.</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>