<h4>{{ title }}</h4>

<div id="categories" class="row pt-2">
    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" [class.active]="isActive('budget')" (click)="setActiveTab('budget')">
                <i class="fa fa-fw fa-wallet"></i> &nbsp;Budget Category
            </a>
            <a class="list-group-item list-group-item-action" [class.active]="isActive('expense')" (click)="setActiveTab('expense')">
                <i class="fa fa-fw fa-hand-holding-usd"></i> &nbsp;Expense Category
            </a>
            <a class="list-group-item list-group-item-action" [class.active]="isActive('transaction-type')" (click)="setActiveTab('transaction-type')">
                <i class="fa-solid fa-layer-group"></i> &nbsp;Savings Transaction Type
            </a>
            <a class="list-group-item list-group-item-action" [class.active]="isActive('investment-type')" (click)="setActiveTab('investment-type')">
                <i class="fa-solid fa-money-bill-trend-up"></i> &nbsp;Investment Type
            </a>
        </div>
        <hr class="list-group-divider" />
    </div>
     <div class="col-md-9 form-container">
        <div class="tab-content">
            <!-- BUDGET CATEGORY TAB -->
            <div class="jumbotron tab-pane fade active show" role="tabpanel" [class.active]="isActive('budget')" [class.show]="isShown('budget')">
                <div class="header">
                    <h5>Budget Category</h5>
                    <button mat-flat-button class="btn btn-primary btn-sm" (click)="budgetCategoryComponent.openAddBudgetCategoryDialog()">
                        <i class="fa fa-plus"></i> Add Budget Category
                    </button>
                    <hr />
                    <!-- content -->
                     <app-budget-category></app-budget-category>
                </div>
            </div>
            <!-- EXPENSE CATEGORY TAB -->
            <div class="jumbotron tab-pane fade" role="tabpanel" [class.active]="isActive('expense')" [class.show]="isShown('expense')">
                <div class="header">
                    <h5>Expense Category</h5>
                    <button mat-flat-button class="btn btn-primary btn-sm" (click)="expenseCategoryComponent.openAddExpenseCategoryDialog()">
                        <i class="fa fa-plus"></i> Add Expense Category
                    </button>
                    <hr />
                    <!-- content -->
                     <app-expense-category></app-expense-category>
                </div>
            </div>
            <!-- SAVINGS TRANSACTION TYPE TAB -->
            <div class="jumbotron tab-pane fade" role="tabpanel" [class.active]="isActive('transaction-type')" [class.show]="isShown('transaction-type')">
                <div class="header">
                    <h5>Savings Transaction Type</h5>
                    <button mat-flat-button class="btn btn-primary btn-sm" (click)="transactionTypeComponent.openAddTransactionTypeDialog()">
                        <i class="fa fa-plus"></i> Add Transaction Type
                    </button>
                    <hr />
                    <!-- content -->
                     <app-savings-transaction-type></app-savings-transaction-type>
                </div>
            </div>
            <!-- INVESTMENT TYPE TAB -->
            <div class="jumbotron tab-pane fade" role="tabpanel" [class.active]="isActive('investment-type')" [class.show]="isShown('investment-type')">
                <div class="header">
                    <h5>Investment Type</h5>
                    <button mat-flat-button class="btn btn-primary btn-sm" (click)="investmentTypeComponent.openAddInvestmentTypeDialog()">
                        <i class="fa fa-plus"></i> Add Investment Type
                    </button>
                    <hr />
                    <!-- content -->
                     <app-investment-type></app-investment-type>
                </div>
            </div>
        </div>
     </div>
</div>