<h2 mat-dialog-title>{{ isEditMode ? 'Edit Action' : 'New Action' }}</h2>
<hr mat-dialog-title-divider/>

<form [formGroup]="actionForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline" class="col-md-12 mb-3">
                <mat-label>Action</mat-label>
                <input matInput formControlName="actionName" upperCase/>
                <mat-error *ngIf="actionControls['actionName'].touched && actionControls['actionName'].hasError('required')">
                    Action name is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-12 mb-3">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="actionControls['description'].touched && actionControls['description'].hasError('required')">
                    Description is required!
                </mat-error>
            </mat-form-field>
            <div class="mt-2 col-md-12 mb-3">
                <mat-button-toggle-group formControlName="isActive" aria-label="Action Status" class="max-w-max">
                    <mat-button-toggle class="badge-success" [value]="1">Active</mat-button-toggle>
                    <mat-button-toggle class="badge-danger" [value]="0">Inactive</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-flat-button type="submit" [disabled]="actionForm.invalid">{{ isEditMode ? 'Update' : 'Save' }}</button>
    </mat-dialog-actions>
</form>