<h2 mat-dialog-title>Saved Expenses</h2>
<hr mat-dialog-title-divider/>

<mat-dialog-content class="saved-exp">
    <div class="card-loading" *ngIf="savedExpensesLoading">
        <div class="spinner"></div>
    </div>
   <div class="table-content">
        <div class="se-header">
            <button class="btn btn-sm btn-reset" matTooltip="Reset Changes" matTooltipPosition="above" (click)="getSavedExpensesData(); budgetedBtnAction = false">
                <i class="fa-solid fa-rotate-left"></i>
            </button>
            <div class="btn-content">
                <button class="btn btn-sm" (click)="onSavedExpensesActionClick()"
                    matTooltip="{{ budgetedBtnAction ? 'Save Changes' : 'Edit Items' }}" matTooltipPosition="above">
                    <i class="fa-solid" [ngClass]="budgetedBtnAction ? 'fa-floppy-disk' : 'fa-pencil'"></i>
                </button>
                <button class="btn btn-sm" *ngIf="budgetedBtnAction" matTooltip="New Line" matTooltipPosition="above"
                    (click)="addRow()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <table class="table scroll-table" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <thead>
                <tr>
                    <th class="remove-hdr" *ngIf="budgetedBtnAction"></th>
                    <th>Expenses</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>                        
                <tr *ngFor="let data of expensesData; let i = index">
                    <!--If edit mode is not activated-->
                    <td *ngIf="!budgetedBtnAction">{{ data.description }}</td>
                    <td *ngIf="!budgetedBtnAction" style="text-align: right;">₱{{ data.amount | number: '1.2-2' }}</td>

                    <!--If edit mode is activated-->
                    <td *ngIf="budgetedBtnAction" cdkDrag [cdkDragDisabled]="!budgetedBtnAction">
                        <div class="btn-control">
                            <i class="fa-solid fa-grip-lines drag-handle"></i>
                            <button class="btn btn-sm btn-remove" matTooltip="Remove" matTooltipPosition="above"
                            (click)="removeRow(i)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        </div>
                    </td>
                    <td *ngIf="budgetedBtnAction" class="desc-input">
                        <input type="text"class="table-input" [(ngModel)]="data.description" />
                    </td>
                    <td *ngIf="budgetedBtnAction">
                        <span class="peso">₱</span>
                        <input type="number" inputmode="decimal" class="table-input" [(ngModel)]="data.amount" style="text-align: right;"/>
                    </td>
                </tr>

                <!--If there is no data-->
                <tr *ngIf="expensesData.length === 0">
                    <td colspan="3" style="text-align: center;">No saved expenses found.</td>
                </tr>
            </tbody>
        </table>
        <div class="totals">
            <span>TOTAL:</span>
            <span>₱{{ getTotal(expensesData) | number: '1.2-2' }}</span>
        </div>
    </div>
</mat-dialog-content>