@use '../../../styles/variables.scss' as *;

.expenses-budget-list {
    margin-bottom: 60px;
    .body-content {
        margin: 5rem 1rem 0 1rem;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        flex-wrap: wrap;

        .ebl-content {
            display: flex;
            justify-content: center;
            position: relative;
            height: fit-content;
            padding: 1rem;
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.17); 
            box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.17);

            .ebl-header {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                color: $light-color;
                height: 40px;
                width: 90%;
                top: -15px;

                .btn-reset {
                    position: absolute;
                    left: 10px;
                    color: $light-color;

                    &:hover {
                        color: $dark-color;
                    }
                }

                .btn-content {
                    position: absolute;
                    right: 10px;

                    button {
                        color: $light-color;
                    }

                    button:hover {
                        color: $dark-color;
                    }
                }

                h6 {
                    margin: 0 !important;
                }

                &.budgeted {
                    background-color: $color-info;
                }

                &.unbudgeted-m {
                    background-color: $color-warning;
                }

                &.unbudgeted-p {
                    background-color: $color-danger;
                }
            }

            .table-content {
                width: clamp(300px, 80vw, 500px);
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .remove-hdr {
                    width: 30px;
                }

                .btn-remove {
                    color: $color-danger;

                    &:hover {
                        color: $hover-danger;
                    }
                }

                .table-input {
                    outline: none;
                    border: none;
                    width: 100%;
                    border-bottom: 1px solid $color-default;
                }

                .totals {
                    display: flex;
                    justify-content: flex-end;
                    font-weight: 500;
                    gap: .5rem;
                    border-top: 1px solid $color-default;
                    padding-top: 0.5rem;
                }
            }
        }
    }

    .btn-sync {
        position: fixed;
        bottom: 35px;
        right: 35px;
        background-color: $primary-color;
        color: $light-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        z-index: 2;

        &:hover {
            background-color: $secondary-color;
        }

        i {
            font-size: 1.5rem;
        }
    }
    
    .mat-mdc-form-field-subscript-wrapper {
        height: 0;
    }
}