<div class="expenses-budget-list">
    <h4>{{ title }}</h4>
    <div class="body-content">
        <div class="ebl-content">
            <div class="card-loading" *ngIf="budgetedLoading">
                <div class="spinner"></div>
            </div>
            <div class="ebl-header budgeted">
                <button *ngIf="budgetedBtnAction" class="btn btn-sm btn-reset" matTooltip="Reset Changes" matTooltipPosition="above"
                    (click)="getExpensesBudgetData(1); budgetedBtnAction = false">
                    <i class="fa-solid fa-rotate-left"></i>
                </button>
                <h6>BUDGETED</h6>
                <div class="btn-content">
                    <button class="btn btn-sm" (click)="onBudgetedExpensesActionClick()" 
                        matTooltip="{{ budgetedBtnAction ? 'Save Changes' : 'Edit Items' }}" matTooltipPosition="above">
                        <i class="fa-solid" [ngClass]="budgetedBtnAction ? 'fa-floppy-disk' : 'fa-pencil'"></i>
                    </button>
                    <button class="btn btn-sm" *ngIf="budgetedBtnAction" matTooltip="New Line" matTooltipPosition="above"
                        (click)="addRow(1)">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="table-content">
                <table class="table" cdkDropList (cdkDropListDropped)="onDrop(1, $event)">
                    <thead>
                        <tr>
                            <th class="remove-hdr" *ngIf="budgetedBtnAction"></th>
                            <th>Expenses</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr *ngFor="let data of budgetedData; let i = index" cdkDrag [cdkDragDisabled]="!budgetedBtnAction">
                            <!--If edit mode is not activated-->
                            <td *ngIf="!budgetedBtnAction">{{ data.description }}</td>
                            <td *ngIf="!budgetedBtnAction" style="text-align: right;">₱{{ data.amount | number: '1.2-2' }}</td>

                            <!--If edit mode is activated-->
                            <td *ngIf="budgetedBtnAction" class="test">
                                <div class="btn-control">
                                    <i class="fa-solid fa-grip-lines"></i>
                                    <button class="btn btn-sm btn-remove" matTooltip="Remove" matTooltipPosition="above"
                                    (click)="removeRow(i, 1)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                </div>
                            </td>
                            <td *ngIf="budgetedBtnAction" class="desc-input">
                                <input type="text"class="table-input" [(ngModel)]="data.description" />
                            </td>
                            <td *ngIf="budgetedBtnAction">
                                <span class="peso">₱</span>
                                <input type="number" class="table-input" [(ngModel)]="data.amount" style="text-align: right;"/>
                            </td>
                        </tr>

                        <!--If there is no data-->
                        <tr *ngIf="budgetedData.length === 0">
                            <td colspan="2" style="text-align: center;">No budgeted expenses found.</td>
                        </tr>
                    </tbody>
                </table>
                <div class="totals">
                    <span>TOTAL:</span>
                    <span>₱{{ getTotal(budgetedData) | number: '1.2-2' }}</span>
                </div>
            </div>
        </div>
        <div class="ebl-content">
            <div class="card-loading" *ngIf="monthlyLoading">
                <div class="spinner"></div>
            </div>
            <div class="ebl-header unbudgeted-m">
                <button *ngIf="monthlyBtnAction" class="btn btn-sm btn-reset" matTooltip="Reset Changes" matTooltipPosition="above"
                    (click)="getExpensesBudgetData(2); monthlyBtnAction = false">
                    <i class="fa-solid fa-rotate-left"></i>
                </button>
                <h6>UNBUDGETED (MONTHLY)</h6>
                <div class="btn-content">
                    <button class="btn btn-sm" (click)="onMonthlyExpensesActionClick()" 
                        matTooltip="{{ monthlyBtnAction ? 'Save Changes' : 'Edit Items' }}" matTooltipPosition="above">
                        <i class="fa-solid" [ngClass]="monthlyBtnAction ? 'fa-floppy-disk' : 'fa-pencil'"></i>
                    </button>
                    <button class="btn btn-sm" *ngIf="monthlyBtnAction" matTooltip="New Line" matTooltipPosition="above"
                        (click)="addRow(2)">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="table-content">
                <table class="table" cdkDropList (cdkDropListDropped)="onDrop(2, $event)">
                    <thead>
                        <tr>
                            <th class="remove-hdr" *ngIf="monthlyBtnAction"></th>
                            <th>Expenses</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of monthlyData; let i = index" cdkDrag [cdkDragDisabled]="!monthlyBtnAction">
                            <!--If edit mode is no activated-->
                            <td *ngIf="!monthlyBtnAction">{{ data.description }}</td>
                            <td *ngIf="!monthlyBtnAction" style="text-align: right;">₱{{ data.amount | number: '1.2-2' }}</td>

                            <!--If edit mode is activated-->
                            <td *ngIf="monthlyBtnAction">
                                <div class="btn-control">
                                    <i class="fa-solid fa-grip-lines"></i>
                                    <button class="btn btn-sm btn-remove" matTooltip="Remove" matTooltipPosition="above"
                                        (click)="removeRow(i, 2)">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td *ngIf="monthlyBtnAction">
                                <input type="text"class="table-input" [(ngModel)]="data.description" />
                            </td>
                            <td *ngIf="monthlyBtnAction">
                                <span class="peso">₱</span>
                                <input type="number" class="table-input" [(ngModel)]="data.amount" style="text-align: right;"/>
                            </td>
                        </tr>

                        <!--If there is no data-->
                        <tr *ngIf="monthlyData.length === 0" >
                            <td colspan="3" style="text-align: center;">No unbudgeted expenses (monthly) found.</td>
                        </tr>
                    </tbody>
                </table>
                <div class="totals">
                    <span>TOTAL:</span>
                    <span>₱{{ getTotal(monthlyData) | number: '1.2-2' }}</span>
                </div>
            </div>
        </div>
        <div class="ebl-content">
            <div class="card-loading" *ngIf="payrollLoading">
                <div class="spinner"></div>
            </div>
            <div class="ebl-header unbudgeted-p">
                <button *ngIf="payrollBtnAction" class="btn btn-sm btn-reset" matTooltip="Reset Changes" matTooltipPosition="above"
                    (click)="getExpensesBudgetData(3); payrollBtnAction = false">
                    <i class="fa-solid fa-rotate-left"></i>
                </button>
                <h6>UNBUDGETED (PAYROLL)</h6>
                <div class="btn-content">
                    <button class="btn btn-sm" (click)="onPayrollExpensesActionClick()" 
                        matTooltip="{{ payrollBtnAction ? 'Save Changes' : 'Edit Items' }}" matTooltipPosition="above">
                        <i class="fa-solid" [ngClass]="payrollBtnAction ? 'fa-floppy-disk' : 'fa-pencil'"></i>
                    </button>
                    <button class="btn btn-sm" *ngIf="payrollBtnAction" matTooltip="New Line" matTooltipPosition="above"
                        (click)="addRow(3)">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="table-content">
                <table class="table" cdkDropList (cdkDropListDropped)="onDrop(3, $event)">
                    <thead>
                        <tr>
                            <th class="remove-hdr" *ngIf="payrollBtnAction"></th>
                            <th>Expenses</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of payrollData; let i = index" cdkDrag [cdkDragDisabled]="!payrollBtnAction">
                            <!--If edit mode is no activated-->
                            <td *ngIf="!payrollBtnAction">{{ data.description }}</td>
                            <td *ngIf="!payrollBtnAction" style="text-align: right;">₱{{ data.amount | number: '1.2-2' }}</td>

                            <!--If edit mode is activated-->
                            <td *ngIf="payrollBtnAction">
                                <div class="btn-control">
                                    <i class="fa-solid fa-grip-lines"></i>
                                    <button class="btn btn-sm btn-remove" matTooltip="Remove" matTooltipPosition="above"
                                        (click)="removeRow(i, 3)">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td *ngIf="payrollBtnAction">
                                <input type="text"class="table-input" [(ngModel)]="data.description" />
                            </td>
                            <td *ngIf="payrollBtnAction">
                                <span class="peso">₱</span>
                                <input type="number" class="table-input" [(ngModel)]="data.amount" style="text-align: right;"/>
                            </td>
                        </tr>

                        <!--If there is no data-->
                        <tr *ngIf="payrollData.length === 0">
                            <td colspan="3" style="text-align: center;">No unbudgeted expenses (payroll) found.</td>
                        </tr>
                    </tbody>
                </table>
                <div class="totals">
                    <span>TOTAL:</span>
                    <span>₱{{ getTotal(payrollData) | number: '1.2-2' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-sync" matTooltip="Sync Unbudgeted Expenses" matTooltipPosition="left" (click)="onSyncUnbudgetedExpenses()">
        <i class="fa-solid fa-rotate"></i>
    </div>
</div>