<div class="budget-entry">
    <div class="budget-entry-head">
        <h4>{{ title }}</h4>
        <button mat-button type="button" class="badge-default" (click)="onBack()">
            <i class="fas fa-arrow-left"></i> Back
        </button>
    </div>
    <div class="budget-entry-body">
        <table class="table table-container">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Budget Category</th>
                    <th>Expense Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
        </table>
    </div>
</div>