@use '../../../../styles/variables.scss' as *;

.budget-entry{
    .budget-entry-head{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            color: $dark-color !important;
            font-size: 13px;
        }
    }

    .budget-entry-body{
        margin-top: 2rem;
    }
}