@use '../../../styles/variables.scss' as *;

.budget-list {
    .be-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: $primary-color !important;
        }
    }

    .toolbar{
        display:flex; 
        gap:1rem; 
        align-items:center; 
        margin-bottom:1rem;
        justify-content: space-between;

        .page-size{
            display: flex;
            flex-direction: column;

            span{
                font-size: 12px;
            }
        }

        .table-search {
            .btn-clear-search {
                font-size: 20px;
                margin-right: .5rem;
                color: $color-default;

                &:hover{
                    color: $dark-color;
                }
            }
        }
    }

    .selection-control {
        display: flex;
        justify-content: space-between;
        gap: .3rem;

        .btn-control {
            display: flex;
            gap: .3rem;
        }
    }

    .table-container{
        height: 500px;

        .cb-width {
            width: 3%;
        }
    }

    .page-btn {
        height: 30px;
        min-width: 0;
        max-width: fit-content;
        color: $light-color !important;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .page-control {
            display:flex; 
            align-items:center; 
            gap:.5rem;

            .mat-mdc-button:not(:disabled){
                color: $primary-color;
            }
        }

        .page-info{
            display:flex; 
            align-items:center; 
        }
    }

    .action-content {
        position: relative; 
        width: 8%; 
        text-align: right;

        .btn-action{
            cursor: pointer;
            color: $dark-color;

            i {
                font-size: 25px;
            }

            &:hover{
                color: $primary-color;
            }
        }

        .dropdown-menu {
            min-width: auto;

            .dropdown-item{
                cursor: pointer;
            }

            .edit {
                color: $color-info;
                &:hover{
                    color: $color-info-dark;
                }
            }

            .remove {
                color: $color-danger;
                &:hover{
                    color: $hover-danger;
                }
            }
        }
    }

    .dropdown-toggle::after {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .budget-list{
        .pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .table-container{
            .cb-width {
                width: 7%;
            }
        }
    }
}

.custom-select-height {
    .mat-mdc-form-field-infix{
        padding: 0 !important;
        display: flex;
        align-items: anchor-center;
        min-height: 35px;
    }
}

.custom-height-field {
    width: 230px;
    padding-top: 2rem;

    .mat-mdc-form-field-flex {
        height: 35px; /* or your desired height */
        align-items: center;
        padding-top: 2px;
    }
}

.budget-entry-container {
    position: relative;
}

.fade-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.fade-box.show {
    opacity: 1;
    visibility: visible;
}
