@use '../../../styles/variables.scss' as *;

:root {
    --income: rgb(16, 192, 24);
    --balance: rgb(28, 144, 211);
    --savings: rgb(243, 135, 34);
    --expenses: rgb(206, 33, 33);
    --icon-color: #ffffff;
}

.budget-list {
    .be-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: $primary-color !important;
        }
    }

    .summary-card {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
        flex-wrap: wrap;

        .sub-card{
            padding: 1rem 1.5rem;
            font-weight: 500;
            margin-top: 1rem;
            width: clamp(200px, 22%, 250px);
            background-color: $light-color;
            -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.17); 
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.17);
            position: relative;

            .card-icon-container {
                width: 45px;
                height: 45px;
                position: absolute;
                top: -10px;
                -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.17); 
                box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.17);
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-style: normal;
                }

                .card-icon::before {
                    content: var(--icon);
                    font-family: "Font Awesome 7 Free";
                    font-weight: 900;
                    color: var(--icon-color);
                    z-index: 0;
                    font-size: 1.5rem;
                }

                &.balance {
                    background-color: var(--balance);
                }

                &.income {
                    background-color: var(--income);
                }

                &.savings {
                    background-color: var(--savings);
                }

                &.expenses {
                    background-color: var(--expenses);
                }
            }

            .info-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .card-header-text{
                    position: relative;
                    z-index: 1;
                }
                
                .card-details-text {
                    font-size: 1.5rem;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }

    .toolbar{
        display:flex; 
        gap:1rem; 
        align-items:center; 
        margin-bottom:1rem;
        justify-content: space-between;

        .sort-group {
            display: flex;
            gap: 1rem;
            .page-size{
                display: flex;
                flex-direction: column;

                span{
                    font-size: 12px;
                }
            }

            .sorter {
                display: flex;
                flex-direction: row;
                align-items: center;

                .all, .month {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1rem;
                    height: 35px;
                    background-color: $semi-dark-color;
                    cursor: pointer;
                    
                    span{
                        font-size: 12px;
                    }

                    &:hover {
                        background-color: $tertiary-color;
                    }

                    &.active {
                        background-color: $primary-color;
                        color: $light-color;
                    }
                }

                .all {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-right: 1px solid $color-default;
                }

                .month {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }

        .table-search {
            .btn-clear-search {
                font-size: 20px;
                margin-right: .5rem;
                color: $color-default;

                &:hover{
                    color: $dark-color;
                }
            }
        }
    }

    .selection-control {
        display: flex;
        justify-content: space-between;
        gap: .3rem;

        .btn-control {
            display: flex;
            gap: .3rem;
        }
    }

    .table-container {
        display: flex;
        flex-direction: column;
        max-height: 100%; /* Adjust as needed */
        overflow: hidden; /* Prevent the entire container from scrolling */

        table {
            border-collapse: collapse;
            width: 100%;
        }

        thead {
            position: sticky;
            top: 0;
            background-color: white; /* Ensure the header has a background */
            z-index: 2; /* Keep it above the body content */
        }

        tbody {
            display: block;
            overflow-y: auto; /* Enable scrolling for the body */
            min-height: 350px;
            max-height: 350px;
        }

        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* Ensure columns align properly */
        }

        .cb-width {
            width: 3%;
        }

        .t-green {
            color: $color-success;
        }

        .t-red {
            color: $color-danger;
        }
    }

    .page-btn {
        height: 30px;
        min-width: 0;
        max-width: fit-content;
        color: $light-color !important;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 60px;

        .page-control {
            display:flex; 
            align-items:center; 
            gap:.5rem;

            .mat-mdc-button:not(:disabled){
                color: $primary-color;
            }
        }

        .page-info{
            display:flex; 
            align-items:center; 
        }
    }

    .action-content {
        position: relative; 
        width: 8%; 
        text-align: right;

        .btn-action{
            cursor: pointer;
            color: $dark-color;

            i {
                font-size: 25px;
            }

            &:hover{
                color: $primary-color;
            }
        }

        .dropdown-menu {
            min-width: auto;

            .dropdown-item{
                cursor: pointer;
            }

            .edit {
                color: $color-info;
                &:hover{
                    color: $color-info-dark;
                }
            }

            .remove {
                color: $color-danger;
                &:hover{
                    color: $hover-danger;
                }
            }
        }
    }

    .dropdown-toggle::after {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .budget-list{
        .pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .table-container{
            .cb-width {
                width: 7%;
            }
        }

        .summary-card {
            .sub-card {
                h6 {
                    font-size: 12px;
                }
                .card-details-text {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (max-width: 940px) {
    .budget-list{
        .table-container {
            height: 320px;
        }
    }
}

.custom-select-height {
    .mat-mdc-form-field-infix{
        padding: 0 !important;
        display: flex;
        align-items: anchor-center;
        min-height: 35px;
    }
}

.custom-height-field {
    width: 200px;
    padding-top: 2rem;

    .mat-mdc-form-field-flex {
        height: 35px; /* or your desired height */
        align-items: center;
        padding-top: 2px;
    }
}

.budget-entry-container {
    position: relative;
}

.fade-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.fade-box.show {
    opacity: 1;
    visibility: visible;
}
