@use '../../../styles/variables.scss' as *;

:root {
    --income: rgba(112, 240, 118, 1);
    --balance: rgba(112, 193, 240, 1);
    --savings: rgba(227, 240, 112, 1);
    --expenses: rgba(240, 112, 112, 1);
    --icon-color: #afafaf34;
}

.budget-list {
    .be-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: $primary-color !important;
        }
    }

    .summary-card {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        flex-wrap: wrap;

        .sub-card{
            border-radius: 10px;
            padding: 1rem 1.5rem;
            font-weight: 500;
            margin-top: .5rem;
            width: 200px;
            border-left: 5px solid;
            background-color: $light-color;
            -webkit-box-shadow: 2px 2px 7px -1px #A8A8A8;
            box-shadow: 2px 2px 7px -1px #A8A8A8;
            position: relative;
            overflow: hidden;

            .card-icon::before {
                content: var(--icon);
                font-family: "Font Awesome 7 Free";
                font-weight: 900;
                color: var(--icon-color);
                position: absolute;
                z-index: 0;
                font-size: 5rem;
                right: 0;
                bottom: -21px;
            }

            .card-header-text{
                position: relative;
                z-index: 1;
            }
            
            .card-details-text {
                font-size: 1.5rem;
                position: relative;
                z-index: 1;
            }

            &.balance {
                border-left-color: var(--balance);
            }

            &.income {
                border-left-color: var(--income);
            }

            &.savings {
                border-left-color: var(--savings);
            }

            &.expenses {
                border-left-color: var(--expenses);
            }
        }
    }

    .toolbar{
        display:flex; 
        gap:1rem; 
        align-items:center; 
        margin-bottom:1rem;
        justify-content: space-between;

        .page-size{
            display: flex;
            flex-direction: column;

            span{
                font-size: 12px;
            }
        }

        .table-search {
            .btn-clear-search {
                font-size: 20px;
                margin-right: .5rem;
                color: $color-default;

                &:hover{
                    color: $dark-color;
                }
            }
        }
    }

    .selection-control {
        display: flex;
        justify-content: space-between;
        gap: .3rem;

        .btn-control {
            display: flex;
            gap: .3rem;
        }
    }

    .table-container{
        height: 400px;
        overflow-y: auto;

        .cb-width {
            width: 3%;
        }

        .t-green {
            color: $color-success;
        }

        .t-red {
            color: $color-danger;
        }
    }

    .page-btn {
        height: 30px;
        min-width: 0;
        max-width: fit-content;
        color: $light-color !important;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 60px;

        .page-control {
            display:flex; 
            align-items:center; 
            gap:.5rem;

            .mat-mdc-button:not(:disabled){
                color: $primary-color;
            }
        }

        .page-info{
            display:flex; 
            align-items:center; 
        }
    }

    .action-content {
        position: relative; 
        width: 8%; 
        text-align: right;

        .btn-action{
            cursor: pointer;
            color: $dark-color;

            i {
                font-size: 25px;
            }

            &:hover{
                color: $primary-color;
            }
        }

        .dropdown-menu {
            min-width: auto;

            .dropdown-item{
                cursor: pointer;
            }

            .edit {
                color: $color-info;
                &:hover{
                    color: $color-info-dark;
                }
            }

            .remove {
                color: $color-danger;
                &:hover{
                    color: $hover-danger;
                }
            }
        }
    }

    .dropdown-toggle::after {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .budget-list{
        .pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .table-container{
            .cb-width {
                width: 7%;
            }
        }

        .summary-card {
            .sub-card {
                h6 {
                    font-size: 12px;
                }
                .card-details-text {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (max-width: 940px) {
    .budget-list{
        .table-container {
            height: 320px;
        }
    }
}

.custom-select-height {
    .mat-mdc-form-field-infix{
        padding: 0 !important;
        display: flex;
        align-items: anchor-center;
        min-height: 35px;
    }
}

.custom-height-field {
    width: 230px;
    padding-top: 2rem;

    .mat-mdc-form-field-flex {
        height: 35px; /* or your desired height */
        align-items: center;
        padding-top: 2px;
    }
}

.budget-entry-container {
    position: relative;
}

.fade-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.fade-box.show {
    opacity: 1;
    visibility: visible;
}
