<div class="budget-list">
    <div class="be-header">
        <h4>{{ title }}</h4>
        <button mat-flat-button type="button" (click)="openAddNewEntryDialog()">
            <i class="fas fa-plus"></i> New Entry
        </button>
    </div>
    <div class="summary-card">
        <div class="sub-card">
            <div class="card-icon-container income">
                <i class="card-icon" style="--icon: '\f4c0'"></i>
            </div>
            <div class="info-container">
                <h6 class="card-header-text">Total Income</h6>
                <div>
                    <span class="card-details-text">&#8369;{{ (meta?.totalIncome ? meta?.totalIncome : 0) | number: '1.2-2' }}</span>
                </div>
            </div>
        </div>
        <div class="sub-card">
            <div class="card-icon-container expenses">
                <i class="card-icon" style="--icon: '\f543'"></i>
            </div>
            <div class="info-container">
                <h6 class="card-header-text">Total Expenses</h6>
                <div>
                    <span class="card-details-text">&#8369;{{ (meta?.totalExpenses ? meta?.totalExpenses : 0) | number: '1.2-2' }}</span>
                </div>
            </div>
        </div>
        <div class="sub-card">
            <div class="card-icon-container balance">
                <i class="card-icon" style="--icon: '\f555'"></i>
            </div>
            <div class="info-container">
                <h6 class="card-header-text">Total Balance</h6>
                <div>
                    <span class="card-details-text">&#8369;{{ (meta?.totalBalance ? meta?.totalBalance : 0) | number: '1.2-2' }}</span>
                </div>
            </div>
        </div>
        <div class="sub-card">
            <div class="card-icon-container savings">
                <i class="card-icon savings" style="--icon: '\f4d3'"></i>
            </div>
            <div class="info-container">
                <h6 class="card-header-text">Total Savings</h6>
                <div>
                    <span class="card-details-text">&#8369;{{ (meta?.totalSavings ? meta?.totalSavings : 0) | number: '1.2-2' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbar" *ngIf="selection.getItemCount() > 0">
        <div class="sort-group">
            <div class="page-size">
                <span>Page size</span>
                <mat-form-field appearance="outline" style="width: 70px;" class="custom-select-height">
                    <mat-select [value]="pageSize" (selectionChange)="changePageSize($event.value)">
                        <mat-option *ngFor="let opt of pageSizeOptions" [value]="opt">
                            {{ opt }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sorter">
                <div class="all" [class.active]="sorter" (click)="sorter = true; sortedLoadPage();">
                    <span>All</span>
                </div>
                <div class="month" [class.active]="!sorter" (click)="sorter = false; sortedLoadPage();">
                    <span>This Month</span>
                </div>
            </div>
        </div>
        <div class="table-search">
            <mat-form-field appearance="outline" class="custom-height-field">
                <input matInput type="text" placeholder="Search.." [formControl]="searchControl" />
                <a matSuffix type="button" class="btn-clear-search" *ngIf="searchControl.value" (click)="searchControl.setValue('')">
                    <i class="fas fa-times"></i>
                </a>
            </mat-form-field>
        </div> 
    </div>
    <div class="selection-control ms-2">
        <div>
            <label *ngIf="selectionMode" class="me-2">Selected {{ selection.getSelectedCount() }} item(s)</label>
        </div>
        <div class="btn-control">
            <button class="btn btn-danger" *ngIf="selectionMode" (click)="onRemoveSelectedEntries()" [disabled]="!hasSelection" matTooltip="Delete" matTooltipPosition="left">
                <i class="fas fa-trash"></i>
            </button>
            <button (click)="toggleSelectionMode()" *ngIf="selection.getItemCount() > 0" class="btn badge-primary" matTooltip="{{ !selectionMode ? 'Select' : 'Unselect' }}" matTooltipPosition="left">
                <i class="fas" [ngClass]="selectionMode ? 'fa-times' : 'fa-tasks'"></i>
            </button>
        </div>
    </div>
    <div class="table-container mt-2">
        <table class="table table-hover scroll-table">
            <thead>
                <tr>
                    <th class="cb-width" *ngIf="selectionMode"></th>
                    <th>Date</th>
                    <th>Category</th>
                    <th style="width: 35%;">Description</th>
                    <th>Amount</th>
                    <th style="width: 8%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of entries; let i = index">
                    <td *ngIf="selectionMode" class="cb-width">
                        <label class="control control-checkbox">
                            <input type="checkbox" [checked]="selection.isSelected(e.budgetEntryId)" (change)="toggleRowSelection(e.budgetEntryId, $event)" />
                            <div class="control_indicator"></div>
                        </label>
                    </td>

                    <td>{{ e.dateUsed | date: 'mediumDate' }}</td>
                    <td>{{ e.budgetCategoryName }} {{ e.expenseCategoryId ? '>' : '' }} {{ e.expenseCategoryName }}</td>
                    <td style="width: 35%;">{{ e.description }}</td>
                    <td [ngClass]="e.budgetCategoryName.toLowerCase() == 'income' ? 't-green': 't-red'" style="text-align: right;">
                        {{ e.budgetCategoryName.toLowerCase() == 'income' ? '+' : '-' }} ₱{{ e.amount | number: '1.2-2' }}
                    </td>
                    <td class="action-content dropdown">
                        <a #dropdownButton class="btn-action dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item edit" (click)="openEditEntryDialog(e)"><i class="fas fa-pen"></i> Edit</a></li> 
                            <li> <a class="dropdown-item remove" (click)="onRemoveEntry(e.budgetEntryId)"><i class="fas fa-trash"></i> Remove</a></li>
                        </ul>
                    </td>
                </tr>
                <tr *ngIf="entries.length === 0">
                    <td colspan="5" class="text-center text-muted">No budget entries found.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <nav class="pagination">
        <div class="page-control">
            <button mat-button (click)="loadPage(1)" [disabled]="!meta || meta.currentPage === 1">First</button>
            <button mat-button (click)="goToPrevious()" [disabled]="!meta || !meta.hasPrevious"><i class="fas fa-angle-double-left"></i></button>

            <ng-container *ngFor="let p of pageNumbers" class="page-num">
                <button mat-button class="page-btn" [ngClass]="p === pageNumber ? 'badge-primary' : 'badge-default'" (click)="loadPage(p)">
                    {{ p }}
                </button>
            </ng-container>

            <button mat-button (click)="goToNext()" [disabled]="!meta || !meta.hasNext"><i class="fas fa-angle-double-right"></i></button>
            <button mat-button (click)="loadPage(meta?.totalPages ?? 1)" [disabled]="!meta || meta.totalPages === 0 || meta.currentPage === meta.totalPages">Last</button>
        </div>
        <div class="page-info">
        <small *ngIf="meta">
            Showing page {{meta.currentPage}} of {{meta.totalPages}} — total {{meta.totalCount}} items
        </small>
        </div>
    </nav>
</div>

