<div class="inner-forms">
    <div class="wrapper row">
        <section class="forms">
            <div class="table-search">
                <input type="text" class="search-box" placeholder="Search.." [(ngModel)]="searchBar" (input)="applyFilter()" />
            </div>
            <div class="table-container">
                <table class="table table-hover table-container" [cellSpacing]="0">
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Module Page</th>
                            <th>Description</th>
                            <th>Parent Module</th>
                            <th>Sort No</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let module of filteredData">
                            <td>
                                <span><i [class]="module.icon"></i> &nbsp;{{ module.moduleName }}</span><br/>
                                <div class="nav-container">
                                    <a class="active" (click)="openEditModuleDialog(module)"><i aria-hidden="true" class="fa fa-pencil"></i> Edit</a>
                                </div>
                            </td>
                            <td>{{ module.modulePage }}</td>
                            <td>{{ module.description }}</td>
                            <td>{{ !module.parentModule ? 'N/A' : module.parentModule }}</td>
                            <td>{{ module.sortOrder }}</td>
                            <td>
                                <div class="status badge badge-pill" [ngClass]="module.isActive ? 'badge-success' : 'badge-danger'">{{ module.isActive ? 'Active' : 'Inactive' }}</div>
                            </td>
                        </tr>
                        <tr *ngIf="filteredData.length === 0">
                            <td colspan="5" class="text-center text-muted">No modules found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>