<div class="dashboard">
    <h4>{{ title }}</h4>
    <div class="dashboard-wrapper row mt-4 mb-5">
        <div class="col-md-9">
            <div class="overall">
                <div class="card" style="--c-color: #1a3e47;">
                    <h5>Income</h5>
                    <p class="display-6">&#8369;{{ summaryData?.totalIncome | number: '1.2-2' }}</p>
                    <div class="icon">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                </div>
                <div class="card" style="--c-color: #2b6777;">
                    <h5>Savings</h5>
                    <p class="display-6">&#8369;{{ summaryData?.totalSavings | number: '1.2-2' }}</p>
                    <div class="icon">
                        <i class="fa-solid fa-piggy-bank"></i>
                    </div>
                </div>
                <div class="card" style="--c-color: #c8d8e4;">
                    <h5>Current Balance</h5>
                    <p class="display-6">&#8369;{{ summaryData?.currentBalance | number: '1.2-2' }}</p>
                    <div class="icon">
                        <i class="fa-solid fa-wallet text-primary"></i>
                    </div>
                </div>
                <div class="card" style="--c-color: #52ab98;">
                    <h5>Spending Status</h5>
                    <p class="display-6" [ngClass]="'status-' + (summaryData?.spendingStatus?.toLowerCase()?.replace(' ','-'))">{{ summaryData?.spendingStatus }}</p>
                    <div class="icon">
                        <i class="fa-solid fa-check-double"></i>
                    </div>
                </div>
            </div>
            <div class="ytd-income card mt-4">
                <h5>Income</h5>
                <div id="ytdMonthlyChart">
                    <apx-chart  *ngIf="ytdIncomeChartOptions"
                        [series]="ytdIncomeChartOptions.series!"
                        [chart]="ytdIncomeChartOptions.chart!"
                        [colors]="ytdIncomeChartOptions.colors!"
                        [xaxis]="ytdIncomeChartOptions.xaxis!"
                        [yaxis]="ytdIncomeChartOptions.yaxis!"
                        [dataLabels]="ytdIncomeChartOptions.dataLabels!"
                        [grid]="ytdIncomeChartOptions.grid!"
                        [stroke]="ytdIncomeChartOptions.stroke!"
                        [title]="ytdIncomeChartOptions.title!"
                        [tooltip]="ytdIncomeChartOptions.tooltip!">
                    </apx-chart>
                </div>
            </div>
            <div class="charts mt-4">
                <div class="card monthly-budget">
                    <h5>Monthly Budget</h5>
                    <p class="monthly-budget-dates">{{ monthlyBudgetData?.startDate }} - {{ monthlyBudgetData?.endDate }}</p>
                    <div id="monthlyBudgetChart">
                        <apx-chart *ngIf="monthlyBudgetChartOptions"
                            [series]="monthlyBudgetChartOptions.series!"
                            [chart]="monthlyBudgetChartOptions.chart!"
                            [plotOptions]="monthlyBudgetChartOptions.plotOptions!"
                            [labels]="monthlyBudgetChartOptions.labels!"
                            [colors]="monthlyBudgetChartOptions.colors!"
                            [legend]="monthlyBudgetChartOptions.legend!"
                            [tooltip]="monthlyBudgetChartOptions.tooltip!">
                        </apx-chart>
                    </div>
                </div>
                <div class="card expenses">
                    <h5>Expenses</h5>
                    <p class="monthly-budget-dates">{{ monthlyBudgetData?.startDate }} - {{ monthlyBudgetData?.endDate }}</p>
                    <div id="expensesByCategoryChart">
                        <apx-chart *ngIf="expensesByCategoryChartOptions"
                            [series]="expensesByCategoryChartOptions.series!"
                            [chart]="expensesByCategoryChartOptions.chart!"
                            [labels]="expensesByCategoryChartOptions.labels!"
                            [colors]="expensesByCategoryChartOptions.colors!"
                            [legend]="expensesByCategoryChartOptions.legend!"
                            [tooltip]="expensesByCategoryChartOptions.tooltip!">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <div class="activity card mt-4">
                <h5>Activity</h5>
                <div id="activityChart">
                <apx-chart *ngIf="activityChartOptions"
                    [series]="activityChartOptions.series!"
                    [chart]="activityChartOptions.chart!"
                    [dataLabels]="activityChartOptions.dataLabels!"
                    [plotOptions]="activityChartOptions.plotOptions!"
                    [legend]="activityChartOptions.legend!"
                    [fill]="activityChartOptions.fill!"
                    [colors]="activityChartOptions.colors!"
                    [stroke]="activityChartOptions.stroke!"
                    [tooltip]="activityChartOptions.tooltip!"
                    [xaxis]="activityChartOptions.xaxis!"
                ></apx-chart>
                </div>
            </div>
        </div>
        <div class="history col-md-3">
            <div class="card">
                <h5 class="mb-4">Recent Transactions</h5>
                <div *ngFor="let data of recentTransactionData">
                    <div class="transaction-item d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <div class="icon me-3" [ngClass]="getTransactionIcon(data.budgetCategoryName)[1]">
                                <i class="fa-solid" [ngClass]="getTransactionIcon(data.budgetCategoryName)[0]"></i>
                            </div>
                            <div>
                                <p class="mb-0 small">{{ data.description }}</p>
                                <small class="text-muted">{{ data.dateUsed | date: 'mediumDate' }}</small>
                            </div>
                        </div>
                        <div class="text-amount small" [ngClass]="data.budgetCategoryName === 'Income' ? 'text-success' : 'text-danger'">
                            {{ data.budgetCategoryName === 'Income' ? '+' : '-' }}&#8369;{{ data.amount | number: '1.2-2' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>