
@use '../../styles/variables.scss' as *;

#usermanager {
    margin-top: 2rem;

    .list-group{
        a {
            cursor: pointer;
        }
    }

    .form-container {
        h5 {
            display: inline-block;
            margin-right: 1rem;
        }

        .inner-forms {
            padding-left: 10px;
            width: 200%;

            .wrapper {
                -webkit-transition: all .65s ease;
                transition: all .65s ease;

                &.next-page {
                    transform: translateX(-50%);
                }

                .forms {
                    padding: 15px;
                    width: 50%;
                }

                .bootstrap-switch-wrapper {
                    margin-top: -2px;
                }
            }
        }
    }

    .list-group-divider {
        display: none;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .tab-content {
        .jumbotron {
            overflow-x: hidden;
            padding: 1rem;
            background-color: #ffffff;
        }
    }

    textarea {
        resize: none;
        height: 4rem !important;
    }
}

@media screen and (max-width: $bootstrap-breakpoint-md) {
    #usermanager {
        .list-group-divider {
            display: block;
        }

        .form-container {
            table {
                tbody {
                    tr {
                        .nav-container {
                            opacity: 1 !important;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $bootstrap-breakpoint-md) {
    #usermanager {
        .form-container {
            padding-left: 0;
        }
    }
}
