<div class="inner-forms">
    <div class="wrapper row">
        <section class="forms">
            <div class="table-search">
                <input type="text" class="search-box" placeholder="Search.." [(ngModel)]="searchBar" (input)="applyFilter()" />
            </div>
            <div class="table-container">
                <table class="table table-hover scroll-table" [cellSpacing]="0">
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Module Description</th>
                            <th>Action</th>
                            <th>Action Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let moduleAction of filteredData">
                            <td>
                                <span><i [className]="moduleAction.icon"></i>&nbsp; {{ moduleAction.moduleName }}</span>
                                <div class="nav-container">
                                        <div><a class="active" (click)="openEditModuleActionDialog(moduleAction)"><i aria-hidden="true" class="fa fa-pencil"></i> Edit</a></div>
                                        <div><a class="active red" (click)="confirmDelete(moduleAction.moduleActionId)"><i aria-hidden="true" class="fa fa-trash"></i> Remove</a></div>
                                </div>
                            </td>
                            <td>{{ moduleAction.moduleDescription }}</td>
                            <td>{{ moduleAction.actionName }}</td>
                            <td>{{ moduleAction.actionDescription }}</td>
                        </tr>
                        <tr *ngIf="filteredData.length === 0">
                            <td colspan="4" class="text-center text-muted">No module actions found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>