<h2 mat-dialog-title>{{ isEditMode ? 'Edit' : 'New' }} Budget Category</h2>
<hr mat-dialog-title-divider />

<form [formGroup]="budgetCategoryForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline" class="col-md-12 mb-3">
                <mat-label>Budget Category Name</mat-label>
                <input matInput formControlName="budgetCategoryName" titleCase/>
                <mat-error *ngIf="budgetCategoryControls['budgetCategoryName'].touched && budgetCategoryControls['budgetCategoryName'].hasError('required')">
                    Budget category name is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-12 mb-3">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="budgetCategoryDescription"></textarea>
                <mat-error *ngIf="budgetCategoryControls['budgetCategoryDescription'].touched && budgetCategoryControls['budgetCategoryDescription'].hasError('required')">
                    Description is required!
                </mat-error>
            </mat-form-field>
            <div class="col-md-12">
                <mat-label class="ms-2">Status</mat-label>
                <mat-button-toggle-group formControlName="isActive" aria-label="Status" class="max-w-max">
                    <mat-button-toggle class="badge-success" [value]="1">Active</mat-button-toggle>
                    <mat-button-toggle class="badge-danger" [value]="0">Inactive</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="budgetCategoryForm.invalid">{{ isEditMode ? 'Update' : 'Save'}}</button>
    </mat-dialog-actions>
</form>