$color-1: #ff0000;
$color-fade: #ffc1b9;
$color-light: #e21212;
$color-text-1: #ff604b;
$color-2: #b59400;
$color-dark: #6a5700;
$color-text-2: #d1d363;

// $neon: #00FFC6;
// $neon-fade: #B9FFE8;
// $neon-light: #12E29C;
// $neon-text-1: #4BFFEF;
// $neon-2: #00B58D;
// $neon-dark: #006A60;
// $neon-text-2: #63D3AE;

.forbidden {
  background-color: #1C2127 !important;
  height: -webkit-fill-available;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .forbidden {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
}

.message-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .header-text{
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    color: white;
    font-weight: 500;
  }

  .message{
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      color: white;
      font-weight: 300;
      width: 360px;
  }
  
  .back-button {
    font-size: 20px;
    color: white;
    background-color: #41c9a2;
    padding: .3rem 1rem;
    margin-top: 2rem;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;

    &:hover{
      background-color: #30a080;
    }
  }
}

.door-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .neon{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 90px;
    color: #dd2727; //5BE0B3
    letter-spacing: 3px;
    text-shadow: 0 0 5px #c72222; //6EECC1
    animation: flux 2s linear infinite;
    
  }
  
  .door-frame {
    height: 495px;
    width: 295px;
    border-radius: 90px 90px 0 0;
    background-color: #8594A5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .door{
    height: 450px;
    width: 250px;
    border-radius: 70px 70px 0 0;
    background-color: #A0AEC0;
  }

  .eye{
    top: 15px;
    left: 25px;
    height: 5px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    animation: eye 7s ease-in-out infinite;
    position: absolute;
  }
  .eye2{
    left: 65px;
  }

  .window{
    height: 40px;
    width: 130px;
    background-color: #1C2127;
    border-radius: 3px;
    margin: 80px auto;
    position: relative;
  }

  .leaf{
    height: 40px;
    width: 130px;
    background-color: #8594A5;
    border-radius: 3px;
    margin: 80px auto;
    animation: leaf 7s infinite;
    transform-origin: right;
  }

  .handle {
    height: 8px;
    width: 50px;
    border-radius: 4px;
    background-color: #EBF3FC;
    position: absolute;
    margin-top: 250px;
    margin-left: 30px;
  }

  .rectangle {
    height: 70px;
    width: 25px;
    background-color: #CBD8E6;
    border-radius: 4px;
    position: absolute;
    margin-top: 220px;
    margin-left: 20px;
  }

  @keyframes leaf {
    0% {
      transform: scaleX(1);
    }
    5% {
      transform: scaleX(0.2);
    } 
    70%{
      transform: scaleX(0.2);
    }
    75%{
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(1);
    }
  }

  @keyframes eye {
    0% {
      opacity: 0;
      transform: translateX(0)
    }
    5% {
      opacity: 0;
    }
    15%{
      opacity: 1;
      transform: translateX(0)
    }
    20% {
      transform: translateX(15px)
    }
    35%{
      transform: translateX(15px)
    }
    40%{
      transform: translateX(-15px)
    }
    60%{
      transform: translateX(-15px)
    }
    65% {
      transform: translateX(0)
    }
  }

  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 5px $color-1, 0 0 15px $color-1, 0 0 50px $color-1, 0 0 50px $color-1, 0 0 2px $color-fade, 2px 2px 3px $color-light;
      color: $color-text-1;
    }
    50% {
      text-shadow: 0 0 3px $color-2, 0 0 7px $color-2, 0 0 25px $color-2, 0 0 25px $color-2, 0 0 2px $color-2, 2px 2px 3px $color-dark;
      color: $color-text-2;
    }
  }
}


  