@use '../../../styles.scss' as *;
@use '../../styles/variables.scss' as v;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: v.$light-color;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 45%;

    .app-logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 50%;
      height: -webkit-fill-available;

      .app-title {
        position: relative;
        top: -4.5rem;

        h2 {
          color: v.$primary-color;
        }

        a {
          color: v.$secondary-color;
          font-size: 0.9rem;
        }
      }

      img {
        width: 100%;
        height: auto;
        max-width: 300px;
      }
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      width: 50%;
      background: v.$light-color;

      h3 {
        margin-bottom: 1rem;
        color: v.$primary-color;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: v.$bootstrap-breakpoint-md) {
  .login-container {
    .wrapper {
      flex-direction: column;
      width: 90%;
      height: auto;

      .app-logo,
      .login-form {
        width: 100%;
      }

      .app-logo {
        img {
          max-width: 200px;
        }
        .app-title {
          top: -3rem;
        }
      }

      .login-form {
        padding: 2rem 4rem;

        .col-md-12 {
          width: 100%;
        }
      }
    }
  }
}