$icon-bg-color: #2b6777;

.d-content {
    display: flex;
    justify-content: space-evenly;

    .d-icon{
        background-color: $icon-bg-color;
        color: white;
        display: flex;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    h6 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}