$icon-bg-color: #2b6777;

.d-content {
    display: flex;
    justify-content: space-evenly;

    .d-icon{
        background-color: $icon-bg-color;
        color: white;
        display: flex;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    h6 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.custom-dialog {
    .mat-mdc-dialog-surface {
        border-radius: 10px;
        padding: 1rem;
    }

    mat-button-toggle-group {
        display: flex;
        justify-content: flex-start;
    }

    mat-button-toggle {
        min-width: 100px;
        text-transform: capitalize;
    }

    .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
        color: white;
    }
}